*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgba(0,0,0,0.7);
    color:#fff;
    display:flex;
    row-gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.stopWatch{
    background-color: rgba(0,0,0,0.9);
    padding:20px 24px;
    border-radius: 10px;
}
.timerDisplay{
    font-size:50px;
    font-weight: 600;
}
.buttons{
    margin-top: 20px;
}
.btn{
    font-size: 20px;
    padding:6px 15px;
    background: none;
    border: none;
    border-radius: 8px;
    color:#fff;
    background-color: var(--clr);
    margin-inline: 12px;
    cursor:pointer;
}